.footerSmall
  .footerSmall__box
    .footerSmall__box__area
      = link_to "プライバシーポリシー", "#"
      = link_to "フリマ利用規約", "#"
      = link_to "特定商取引に関する表記", "#"
    =link_to(root_path,class:"footerSmall__box__bottom") do
      =image_tag("/images/material/logo/logo.png",class:"footerSmall__box__bottom__image")
    .footerSmall__box__ink
      @FURIMA.Ink
