.show-main
  .show-main-box
    .show-main-box-left
      .show-main-box-left-top
        = link_to "#"
      .show-main-box-left-center
      .show-main-box-left-bottom
    .show-main-box-right
      .show-main-box-left-top
      .show-main-box-left-bottom