.edit_wrapper{
  height: 100%;
  width: 100vw;
  background-color: $light-gray;

  //ーーー-------------------ここまでヘッダー部分ーーー------------------------------
  .edit_content1 {
    @include size;

    .edit_main-content1 {
      box-sizing: border-box;
      @include title2;

      .edit_exe {
        margin-top: 16px;
      }

      .edit_picture {
        align-items: center;
        background-color: rgb(245, 245, 245);
        cursor: pointer;
        height: 155px;
        border-width: 1px;
        border-top-width: 1px;
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-left-width: 1px;
        border-style: dashed;
        border-color: rgb(204, 204, 204);
        transition: all 0.5s ease-out 0s;
        margin-top: 16px;
        &_exe {
          font-size: 12px;
          line-height: 1.9em;
          text-align: center;
          width: 100%;
          margin-top: 50px;
        }
      }

    }
  }



    //ーー-------------------ーーここまでcontent1ーーーーーー--------

  .edit_content2 {
    @include size;

    .edit_main-header2 {
      @include title2;
      
      .edit_form-label__message{
      @include form;
      }
    }
    .edit_main-header3{
      @include title2;

      .edit_form-text_area-message {
          height: 150px;
          width: 100%;
          padding: 13px 16px;
          border-radius: 4px;
          border: solid 1px #ccc;
      }
    }
    .edit_count {
      margin-top: 16px;
      font-size: 12px;;
      text-align: right;
    }
  }

  //-----------------ここまでcontent2------------------
  .edit_content3 {
    @include size;
    .edit_title{
      margin: 0 0 24px 0;
      font-size: 14px;
      color: #888888;
    }
    .edit_main-header4 {
      @include title2;
      text-align: right;
      .edit_form-label__message {
        @include form;
      }
    }
    .edit_main-header5 {
      .edit_items{
        margin: 40px 0 28px 0;
        display: flex;
        &_left {
          font-weight: bold;
        }
        &_right {
          background-color: #BFBFBF;
          color: white;
          margin-left: 8px;
          padding: 0 4px;
        }
      } 
      .edit_form-label__message {
        @include form;
      }
    }
    .edit_main-header6 {
      @include title2;
      .edit_form-label__message{
       @include form;
      }
      #item_condition_id {
        height: 50px;
        width: 100%;
        font-size: 15px;
      }
    }
  }

  

  //-------------ここまでcontent3---------------
  .edit_content4 {
    @include size;

    .edit_title{
      margin: 0 0 24px 0;
      font-size: 14px;
      color: #888888;
    }
    
    @include title2;
    .edit_form-label__message{
      @include form;
    }
    #item_responsibility_id {
      height: 50px;
      width: 100%;
      font-size: 15px;
    }
    #item_prefecture_id {
      height: 50px;
      width: 100%;
      font-size: 15px;
    }
    #item_shipment_id {
      height: 50px;
      width: 100%;
      font-size: 15px;
    }
  }
  //-------------ここまでcontent4---------------
  .edit_content5 {
    @include size;
    .edit_title{
      margin: 0 0 24px 0;
      font-size: 14px;
      color: #888888;
    }
    .edit_input {
      display: flex;
      justify-content: space-between;
      padding-bottom: 12px;
      @include title2;
      .edit_price_input{
        margin-top: 18px;
        border: solid 1px #ccc;
        height: 50px;
        width: 40%;
        border-radius: 4px;
        padding: 0 16px;
        font-size: 15px;
      }
    }
    .edit_tax-box {
      display: flex;
      justify-content: space-between;
      padding: 12px 0;
      border-bottom: solid 1px #DBDBDB;
      &_left{
        font-size: 14px;
      }
      &_right{
        font-size: 14px;
      }

    }
    .edit_profit {
      display: flex;
      justify-content: space-between;
      padding: 12px 0 0;
      &-left {
        font-size: 14px;
      }
      &-right {
        font-size: 14px;
      }
    }
    .edit_button {
      margin: 0 130px 32px ;
      width: 360px;
      text-align: center;
      margin-top: 30px;
      &-shipping {
        height: 40px;
        margin-bottom: 24px;
        padding: 0 24px;
        background-color: #ea352d;
        color: #fff;
        font-size: 16px;
        line-height: 2.5;
        border-radius: 4px;
      }
      
      &-save,&-delete {
        margin-bottom: 24px;
        background-color: #ccc;
        color: #222;
        font-size: 16px;
        height: 40px;
        padding: 0 24px;
        line-height: 2.5;
        border-radius: 4px;
      }   
    }
    .edit_bottom_box{
      font-size: 12px;
      line-height: 1.4em;
    }
  } 
}
//-------------ここまでフッター---------------
.edit_form-label__message {
  display: block;
}