.itemsMain__visial {
  background-image: url(material/pict/bg-mainVisual-pict_pc.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 560px;
  padding-left: 65px;
  padding-top: 220px;


  &__life {
    height: 100px;
    width: 750px;
    font-size: 60px;
    text-shadow:1px 1px 1px black;
  }

  &__easy {
    height: 60px;
    width: 600px;
    font-size: 18px;
    text-shadow:1px 1px 1px black;
    line-height: 1.5;
  }

}

.itemsMain__how {
  height: 560px;
  padding :200px;
}

.itemsMain__pic {
  background-image: url(material/pict/bg-topMiddleDl-pict.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 400px;
  padding-left: 210px;
  padding-top: 90px;


  &__picOne {
    height: 45px;
    width: 200px;
    font-size: 28px;
    text-shadow:2px 2px 4px black;
  }

  &__picTwo {
    height: 100px;
    width: 400px;
    margin: 20px 0px 30px;
    font-size: 18px;
    text-shadow: 1px 1px 1px black;
    line-height: 1.5;
  }

  &__picBtn {

  }




}

.itemsMain__characteristic {
  background-color: white;
  height: 20%;
}
.itemsMain__category {
  background-color: gray;
  height: 20%;
  text-align: center;
  &__top {
    padding-top: 100px;
  }
  &__pic {
    width: 100%;
    background-color: blueviolet;
    &__content {
      margin: 0 auto;
      height: 100%;
      width: 60%;
      background-color: rosybrown;
      &__left {
        margin: 25px 0px;
        height: 20px;
        width: 20px;
        background-color:white;
        &__top  {
          background-color: yellowgreen;
        }
        &__down {
          background-color: blue;
        }
      }
    }     
  }
}

.itemsMain__bland {
  background-color: khaki;
  height: 20%;
  text-align: center;
  &__top {
    padding-top: 100px;
  }
  &__middle {
  }
  &__pic {
  }
}

