#showItems{
.main {
  background-color:$light-gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 0;
}

// 商品情報------------------------------------------------
.content{
  width: 55vw;
  background-color: white;
  text-align: center;
  &__text {
    padding: 20px 0;
    font-size: 30px;
    font-weight: bold;
  }
  &__photoBox {
    height: 60vh;
    width: 80%;
    margin: 0 auto 15px;
    text-align: center;
    &--top { 
      height: 75%;
      width: 100%;
      background-color: $light-gray;
      position: relative;
      .imageBig {
        max-height: 100%;
        min-height: 100%;
        width: auto;
      }
    }
    &--bottom {
      margin-top: 2%;
      height: 23%;
      width: 100%;
      ul {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        li{
          height: 100%;
          width: 19%;
          background-color:$light-gray;
          .imageSmall {
            max-height: 100%;
            min-height: 100%;
            width: auto;
          }
        }
      }
    }
  }
  &__priceBox {
    margin-top: 30px;
    height: 5%;
    width: 100%;
    line-height: 2;
    text-align: center;
    &__top {
      height: 50%;
      font-size: 25px;
    }
    &__bottom {
      height: 50%;
      font-size: 20px;
    }
  }
  &__detailBox {
    border:solid 2px $light-gray;
    height: 20vh;
    width: 80%;
    margin: 30px auto 50px;
    font-size: 18px;
    line-height: 1.5;
    text-align: start;
    overflow: scroll;
  }
  &__tableBox,table {
    height: 60vh;
    width: 80%;
    margin: 0 auto 40px;
    font-size: 15px;
    tr {
      border: 1px solid #f8f8f8;
      height: 10%;
      width: 100%;
      &:nth-child(2){
        height: 20%;
      }
    }
    &--category--parent,&--category--child,&--category--grandChild{
      line-height: 32px;
      width:100%;
      height: 30%;
    }
      th{
        background-color:$light-gray;
        width: 30%;
        border: 1px solid $gray;
      }
      td{
        width: 70%;
        border: 1px solid $gray;
      }
    }
  &__option {
    width: 80%;
    margin: 0 auto ;
    &__upper{
      margin:40px 0;
      height: 50%;
      width: 100%;
      &--buyBtn,&--editBtn{
        width: 90%;
        height: 75%;
        background-color:$blue;
        border-radius: 40px;
        margin: 0 auto 10px;
        color: white;
        line-height: 48px;
        font-size: 20px;
      }
    }
  }
}
}
