.itemsMain {
  background-color: pink;
  height: 500vh;
  width: 100vw;
  display: block;

  &__visial{
    background-color: grey;
    height: 20%;
  }

  &__how {
    background-color: white;
    height: 20%;
    

  }

  &__pic {
    background-color:gray;
    height: 20%;

  }
  &__characteristic {
    background-color: white;
    height: 20%;

  }

  &__category {
    background-color: gray;
    height: 20%;
    text-align: center;
    &__categoryTop {
      padding-top: 100px;
    }
    &__categoryPic {
      
      width: 100%;
      background-color: blueviolet;
      &__content {
        margin: 0 auto;
        height: 100%;
        width: 60%;
        background-color: rosybrown;
        &__contentLeft {
          margin: 25px 0px;
          height: 20px;
          width: 20px;
          background-color:white;
          &__top  {
            background-color: yellowgreen;
          }
          &__down {
            background-color: blue;
          }

        }


      }
      


    }


  }

  &__bland {
    background-color: khaki;
    height: 20%;
    text-align: center;
    &__blandTop {
      padding-top: 100px;

    }
    &__blandMiddle {

    }
    &__blandPic {

    }


  }
  


}

