.itemsMain {
  background-color: pink;
  height: 500vh;
  width: 100vw;
  display: block;

  &__visial{
    background-color: grey;
    height: 90%;
  }

  &__how {
    background-color: white;
    height: 90%;
    

  }

  &__pic {
    background-color:gray;
    height: 90%;

  }
  &__characteristic {
    background-color: white;
    height: 90%;

  }

  &__category {
    background-color: gray;
    height: 90%;
    text-align: center;
    &__top {
      padding-top: 100px;

    }
    &__midle {
      
    }
    &__pic {

    }


  }

  &__bland {
    background-color: khaki;
    height: 90%;
    text-align: center;
    &__top {
      padding: 100px;

    }
    &__midle {

    }
    &__pic {

    }


  }
  


}

