.itemsMain {
  background-color: pink;
  height: 500vh;
  width: 100vw;
  display: block;

  &__visial{
    background-color: grey;
    height: 20%;
  }

  &__how {
    background-color: white;
    height: 20%;
    

  }

  &__pic {
    background-color:gray;
    height: 20%;

  }
  &__characteristic {
    background-color: white;
    height: 20%;

  }

  &__category {
    background-color: gray;
    height: 20%;
    text-align: center;
    &__categoryTop {
      padding-top: 100px;
    }
    &__categoryMiddle {
      
    }
    &__categoryPic {
      
      &__categoryPic__content {
        height: 50%;
        width: 50%;
        margin: 35px 300px;
        background-color: rosybrown;
        color: black;
        .contentLeft {
          height: 30%;
          width: 20%;
          background-color: lightcoral;
          &__top  {
            height: 10%;
            width: 10%;
            background-color: yellowgreen;
          }
          &__down {
            height: 10%;
            width: 10%;
            background-color: blue;
          }

        }


      }
      


    }


  }

  &__bland {
    background-color: khaki;
    height: 20%;
    text-align: center;
    &__blandTop {
      padding-top: 100px;

    }
    &__blandMiddle {

    }
    &__blandPic {

    }


  }
  


}

