.header
  .header__headerBox
    .headerBox__upper
      .headerBox__upper__logo
      .headerBox__upper__formBox
        .headerBox__upper__formBox__text
        .headerBox__upper__formBox__icon
    .headerBox__lower
      .headerBox__lower__left
        .headerBox__lower__left__category
          カテゴリー
        .headerBox__lower__left__brand
          ブランド
      .headerBox__lower__right
        .headerBox__lower__right__logIn
          =link_to('ログイン','#')
        .headerBox__lower__right__signUp
          =link_to('新規会員登録','#')