.itemsMain__newPost__box__content1
  .itemsMain__newPost__box__content1__upper
    - item.images.each do |image|
      = image_tag image.src.to_s, class: "itemsMain__newPost__box__content1__upper__pic"
  .itemsMain__newPost__box__content1__down
    .itemsMain__newPost__box__content1__down__left
      .itemsMain__newPost__box__content1__down__left__name
        = item.name
      .itemsMain__newPost__box__content1__down__left__price
        = item.price
      .itemsMain__newPost__box__content1__down__left__tax
        (税込)
    .itemsMain__newPost__box__content1__down__likes
      ★2   