=link_to item_path(item.id) do
  .itemsMain__newPost__box__content1
    .itemsMain__newPost__box__content1__upper
      =image_tag item.images.first.src.to_s, class: "itemsMain__newPost__box__content1__upper__pic"
      -if item.buyer_id.present? 
        .itemsMain__bland__box__content1__upper_soldout
        .itemsMain__bland__box__content1__upper_soldout_text
          SOLD
    .itemsMain__newPost__box__content1__down
      .itemsMain__newPost__box__content1__down__left
        .itemsMain__newPost__box__content1__down__left__name
          = item.name
        .itemsMain__newPost__box__content1__down__left__price
          = item.price
        .itemsMain__newPost__box__content1__down__left__tax
          (税込)
      .itemsMain__newPost__box__content1__down__likes
        ★2  






