.done-main
  .done-main__box
    .done-main__box__header
      %h1.done-main__box__title 購入内容の確認
    .done-main__box__detail
      .done-main__box__content__image
    .done-main__box__content
      .done-main__box__content__confirmation
      .done-main__box__content__methods
      .done-main__box__content__delivery
      .done-main__box__content__description
      = form_with model:@item do
        :plain
      %script{type: "text/javascript", src: "https://checkout.pay.jp", class:"payjp-button", "data-text": "購入する", "data-key": "pk_test_7cbaf38fc7c7999028ec1ab6"}
