.done-main
  .done-main__box
    .done-main__box__header
      %h1.done-main__box__title 購入内容の確認
    .done-main__box__detail
      .done-main__box__content__image
    .done-main__box__content
      .done-main__box__content__confirmation
      .done-main__box__content__methods
      .done-main__box__content__delivery
      .done-main__box__content__description