.itemsMain
  .itemsMain__visial
    .itemMain__visialApp
    人生を変えるフリマアプリ
    .
    FURIMAはだれでもかんたんに出品・購入できる
    フリマアプリです  
  .itemsMain__how
    FURIMAが選ばれる3つの理由
  .itemsMain__pic
    会員数日本一位
    %br FURIMAは、フリマアプリで最も人気。
    出品・購入回数も業界最多です！
    %br ほしかったあの商品に出会えるかもしれません。
  .itemsMain__characteristic
    FURIMAの特徴
  .itemsMain__category
    .itemsMain__category__top
      ピックアップカテゴリー
    .itemsMain__category__middle 
      新規商品
    .itemsMain__category__pic
      .itemsMain__category__pic__content
        .itemsMain__category__pic___content__left
          .itemsMain__category__pic___content__left__top
          .itemsMain__category__pic___content__left__down
  .itemsMain__bland
    .itemsMain__bland__top
      ピックアップブランド
    .itemsMain__bland__middle
      アーカイブ
    .itemsMain__bland__pic
      .itemsMain__bland__pic__product
        .itemsMain__bland__pic__product__left
          .itemsMain__bland__pic__product__left__top
          .itemsMain__bland__pic__product__left__down