.main
  .mainVisial
    人生を変えるフリマアプリ
    FURIMAはだれでもかんたんに出品・購入できる
    フリマアプリです
  .mainHow
    FURIMAが選ばれる3つの理由
  .mainPic
    会員数日本一位
    FURIMAは、フリマアプリで最も人気。
    出品・購入回数も業界最多です！
    ほしかったあの商品に出会えるかもしれません。
  .mainCharacteristic
    FURIMAの特徴
  .mainCategory
    .mainCategory__top
      ピックアップカテゴリー
    .mainCategory__middle 
      新規新規商品
    .mainCategory__pic
  .mainBland
    .mainBland__top
      ピックアップブランド
    .mainBland__middle
      アーカイブ
    .mainland__pic


