.itemsMain
  .itemsMain__visial
    人生を変えるフリマアプリ
    %br FURIMAはだれでもかんたんに出品・購入できる
    フリマアプリです
    
  .itemsMain__how
    FURIMAが選ばれる3つの理由
  .itemsMain__pic
    会員数日本一位
    %br FURIMAは、フリマアプリで最も人気。
    出品・購入回数も業界最多です！
    %br ほしかったあの商品に出会えるかもしれません。
  .itemsMain__characteristic
    FURIMAの特徴
  .itemsMain__category
    .itemsMain__category__categoryTop
      ピックアップカテゴリー
    .itemsMain__category__categoryMiddle 
      新規商品
    .itemsMain__category__categoryPic
      .itemsMain__category__categoryPic__content
        おおおおおお
        .itemsMain__category__categoryPic__contentLeft
          .itemsMain__category__categoryPic__contentLeft__top
          .itemsMain__category__categoryPic__contentLeft__down
  .itemsMain__bland
    .itemsMain__bland__blandTop
      ピックアップブランド
    .itemsMain__bland__blandMiddle
      アーカイブ
    .itemsMain__bland__blandPic
      .itemsMain__bland__blandPic__product
        .itemsMain__bland__blandPic__productLeft
          .itemsMain__bland__blandPic__productLeft__top
          .itemsMain__bland__blandPic__productLeft__down