.itemsMain
  .itemsMain__visial
    .itemsMain__visial__life
      人生を変えるフリマアプリ
    .itemsMain__visial__easy
      FURIMAはだれでもかんたんに出品・購入できる
      %br フリマアプリです
    .itemsMain__visial__icon
      =link_to("https://play.google.com/store")do
        =image_tag "/material/icon/google-play.svg",class:"footer__upper__btn--googlePlay"
      =link_to("https://www.apple.com/jp/ios/app-store")do
        =image_tag "/material/icon/app-store.svg",class:"footer__upper__btn--appStore"

  .itemsMain__how
    .itemsMain__how__topText
      FURIMAが選ばれる3つの理由
    .itemsMain__how__underLine
    .itemsMain__how__photos
      .itemsMain__how__photos__content1
        .itemsMain__how__photos__content1__number
          1
        .itemsMain__how__photos__content1__upperText
          %span 3分
          ですぐに出品
        .itemsMain__how__photos__content1__lowerText
          スマホで入力するだけで簡単に出品できる！
      .itemsMain__how__photos__content2
        .itemsMain__how__photos__content2__number
          2
        .itemsMain__how__photos__content2__upperText
          %span シンプル
          で使いやすい
        .itemsMain__how__photos__content2__lowerText
          めんどくさい入力は必要なく,検索も購入もスムーズ！
      .itemsMain__how__photos__content3
        .itemsMain__how__photos__content3__number
          3
        .itemsMain__how__photos__content3__upperText
          手数料
          %span 業界最安
        .itemsMain__how__photos__content3__lowerText
          最大3％でお得に出品＆購入！


  .itemsMain__pic
    .itemsMain__pic__picOne
      会員数日本一位
    .itemsMain__pic__picTwo
      FURIMAは、フリマアプリで最も人気。
      %br 出品・購入回数も業界最多です！
      ほしかったあの商品に出会えるかもしれません。
    .itemsMain__pic__picBtn
      =link_to("https://play.google.com/store")do
        =image_tag "/material/icon/google-play.svg",class:"footer__upper__btn--googlePlay"
      =link_to("https://www.apple.com/jp/ios/app-store")do
        =image_tag "/material/icon/app-store.svg",class:"footer__upper__btn--appStore"

  .itemsMain__character
    .itemsMain__character__topText
      FURIMAの特徴
    .itemsMain__character__underLine
    .itemsMain__character__photos
      .itemsMain__character__photos__content4
        .itemsMain__character__photos__content4__upperText
          簡単に売り買いできる
        .itemsMain__character__photos__content4__lowerText
          スマホ一つで、いつでもどこでも簡単に出品・購入が可能！
      .itemsMain__character__photos__content5
        .itemsMain__character__photos__content5__upperText
          売上金は即日振り込みに対応
        .itemsMain__character__photos__content5__lowerText
          午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします！
      .itemsMain__character__photos__content6
        .itemsMain__character__photos__content6__upperText
          様々な支払いに対応
        .itemsMain__character__photos__content6__lowerText
          お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。

  .itemsMain__newPost
    .itemsMain__newPost__top
      ピックアップカテゴリー
    .itemsMain__newPost__middle 
      新規投稿商品
    .itemsMain__newPost__box
      .itemsMain__newPost__box__content1
        .itemsMain__newPost__box__content1__upper
          =image_tag '/freemarket.g.png', class:"itemsMain__newPost__box__content1__upper__pic"
        .itemsMain__newPost__box__content1__down
          .itemsMain__newPost__box__content1__down__left
            .itemsMain__newPost__box__content1__down__left__name
              = @items.name
            .itemsMain__newPost__box__content1__down__left__price
              = @items.price
            .itemsMain__newPost__box__content1__down__left__tax
              (税込)
          .itemsMain__newPost__box__content1__down__likes
            ★2   
      .itemsMain__newPost__box__content2
        .itemsMain__newPost__box__content2__upper
          =image_tag '/freemarket.g.png', class:"itemsMain__newPost__box__content1__upper__pic"
        .itemsMain__newPost__box__content2__down
          .itemsMain__newPost__box__content2__down__left
            .itemsMain__newPost__box__content2__down__left__name
              content
            .itemsMain__newPost__box__content2__down__left__price
              price
            .itemsMain__newPost__box__content2__down__left__tax
              (税込)
          .itemsMain__newPost__box__content2__down__likes
            ★12   
      .itemsMain__newPost__box__content3
        .itemsMain__newPost__box__content3__upper
          =image_tag '/freemarket.g.png', class:"itemsMain__newPost__box__content1__upper__pic"
        .itemsMain__newPost__box__content3__down
          .itemsMain__newPost__box__content3__down__left
            .itemsMain__newPost__box__content3__down__left__name
              content
            .itemsMain__newPost__box__content3__down__left__price
              price
            .itemsMain__newPost__box__content3__down__left__tax
              (税込)
          .itemsMain__newPost__box__content3__down__likes
            ★6   
  .itemsMain__bland
    .itemsMain__bland__top
      ピックアップブランド
    .itemsMain__bland__middle 
      アーカイブ
    .itemsMain__bland__box
      .itemsMain__bland__box__content1
        .itemsMain__bland__box__content1__upper
          =image_tag '/freemarket.g.png', class:"itemsMain__bland__box__content1__upper__pic"
        .itemsMain__bland__box__content1__down
          .itemsMain__bland__box__content1__down__left
            .itemsMain__bland__box__content1__down__left__name
              content
            .itemsMain__bland__box__content1__down__left__price
              price
            .itemsMain__bland__box__content1__down__left__tax
              (税込)
          .itemsMain__bland__box__content1__down__likes
            ★20   
      .itemsMain__bland__box__content2
        .itemsMain__bland__box__content2__upper
          =image_tag '/freemarket.g.png', class:"itemsMain__bland__box__content1__upper__pic"
        .itemsMain__bland__box__content2__down
          .itemsMain__bland__box__content2__down__left
            .itemsMain__bland__box__content2__down__left__name
              content
            .itemsMain__bland__box__content2__down__left__price
              price
            .itemsMain__bland__box__content2__down__left__tax
              (税込)
          .itemsMain__bland__box__content2__down__likes
            ★29   
      .itemsMain__bland__box__content3
        .itemsMain__bland__box__content3__upper
          =image_tag '/freemarket.g.png', class:"itemsMain__bland__box__content1__upper__pic"
        .itemsMain__bland__box__content3__down
          .itemsMain__bland__box__content3__down__left
            .itemsMain__bland__box__content3__down__left__name
              content
            .itemsMain__bland__box__content3__down__left__price
              price
            .itemsMain__bland__box__content3__down__left__tax
              (税込)
          .itemsMain__bland__box__content3__down__likes
            ★60   
  