.itemsMain
  .itemsMain__visial
    人生を変えるフリマアプリ
    FURIMAはだれでもかんたんに出品・購入できる
    フリマアプリです
  .itemsMain__how
    FURIMAが選ばれる3つの理由
  .itemsMain__pic
    会員数日本一位
    FURIMAは、フリマアプリで最も人気。
    出品・購入回数も業界最多です！
    ほしかったあの商品に出会えるかもしれません。
  .itemsMain__characteristic
    FURIMAの特徴
  .itemsMain__category
    .itemsMain__categoryTop
      ピックアップカテゴリー
    .itemsMain__categoryMiddle 
      新規商品
    .itemsMain__categoryPic
      .itemsMain__categoryPic__content
        .itemsMain__categoryPic__content__left
        .itemsMain__categoryPic__content__midle
        .itemsMain__categoryPic__content__right
  .itemsMain__bland
    .itemsMain__blandTop
      ピックアップブランド
    .itemsMain__blandMiddle
      アーカイブ
    .itemsMain__blandPic
      .itemsMain__blandPic__product
        .itemsMain__categoryPic__product__left
        .itemsMain__categoryPic__product__midle
        .itemsMain__categoryPic__product__right