.credit-update {
  display: block;
  background: $light-gray;
  

  &__label {
    background-color: #fff;
    margin: auto;
    padding: 24px 8px;
    text-align: center;
    font-size: 18px;
    border-bottom: solid 1px #cccccc;
    font-weight: 600;
    width: 700px;
  }
  .card-form {
    padding: 24px 16px 40px;
    background-color: #fff;
    width: 700px;
    margin: auto;

    &__box {
      max-width: 343px;
      margin: auto;


      &__number {
        width: 100%;
        margin: 20px 0 0;

        .box-group--label {
          font-weight: 600;

        }

        .input-require {
          margin: 0 0 0 8px;
          padding: 2px 4px;
          color: white;
          background-color: red;
        }

        .card-number--input {
          width: 100%;
          margin: 8px 0 0;
          height: 48px;
          padding: 10px 16px 8px;
          font-size: 16px;
        }
      }

      &__expire {
        margin: 40px 0 0;

        .box-group--label {
          font-weight: 600;
        }


        .input-require  {
          margin: 0 0 0 8px;
          padding: 2px 4px;
          color: white;
          background-color: red;
        }


        .card-expire  {
          margin: 8px 0 0;
          
          &__select-month {
            display: table-cell;
            text-align: left;
            width: 170px;
            
  
            #exp_month {
              height: 48px;
              width: calc(100% - 38px);
              font-size: 16px;
              cursor: pointer;
            }
          }

          &__select-year {
            display: table-cell;
            text-align: right;
            width: 170px;
          
            #exp_year {
              height: 48px;
              width: calc(100% - 38px);
              font-size: 16px;
              cursor: pointer;
            }
          }
        }
      }


      &__security-code {
        width: 100%;
        margin: 40px 0 0;


        .box-group--label {
          font-weight: 600;
        }


        .input-require {
          margin: 0 0 0 8px;
          padding: 2px 4px;
          color: white;
          background-color: red;
        }


        .payment__security-code {
        width: 100%;
        margin: 8px 0 0;
        height: 48px;
        padding: 10px 16px 8px;
        font-size: 16px;
        }

        .question-form {
          margin: 8px 0 0;
          text-align: right;
          color: #0099e8;

          &__mark {
            display: inline-block;
            width: 14px;
            height: 14px;
            border-radius: 50%;
            background: #0099e8;
            color: #fff;
            line-height: 14px;
            font-size: 12px;
            text-align: center;
          }
        }
      }


      #card_token {
        margin: 40px 0 0;
        


        .card-form__box__add  {
          -webkit-appearance: none;
          width: 100%;
          height: 48px;
          font-size: 14px;
          color: white;
          cursor: pointer;
          background: #ea352d;

        }
      }
    }
  }
}