.sign-up__main {
  display: block;
  background: $light-gray;
  &__box {
    width: 70vw;
    margin: auto;
    &__contents {
      font-size:22px;
      .sign-up-head {
        text-align: center;
        padding: 30px;
        font-weight: 600;
        font-size: 22px;
      }
    }
    &__information {
      margin: auto;
      // padding: 20px;
      background-color: white;
      &__contents {
        max-width: 25vw;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        .field-label {
          font-size: 14px;
          width: 100%;
          margin: 2vh 0;
          .form-image{
            .box{
              background-color: $light-gray;
              border: $light-gray solid 2px;
              border-radius: 100%;
              width: 20vh;
              height: 20vh;
              margin: 3vh auto;
              cursor: pointer;
              .image{
                border-radius: 100%;
                width:20vh;
                height:20vh;
              }
            }
            input{
              display:none;
            }
          }
          &__name {
            font-weight: 600;
          }
          &__input {
            height: 50px;
            width: 100%;
            margin: 8px 0 0;
          }
        }
        .actions {
          height: 100px;
          &__btn {
            background-color: $blue;
            color: white;
            font-weight: bold;
            font-size: 15px;
            height: 50px;
            width: 87%;
            -webkit-appearance: none;
            margin: 26px;
          }
        }
      }
    }
  }
}

.field-label__any {
  background: $gray;
  color: white;
  margin-left: 8px;
  padding: 2px 4px;
}

.field-label__required {
  background: $orange;
  color: white;
  font-size: 12px;
  padding: 2px 4px;
}

