.sign-up__main {
  display: block;
  background: $light-gray;
  &__box {
    width: 70vw;
    margin: 0 auto;
    &__contents {
      font-size:22px;
      .sign-up-head {
        background-color: white;
        height: 10vh;
        line-height: 10vh;
        margin-bottom: 2vh;
        text-align: center;
        font-weight: 600;
        font-size: 22px;
      }
    }
    &__information {
      padding: 20px;
      background-color: white;
      &__contents {
        max-width: 25vw;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        .field-label {
          font-size: 14px;
          width: 100%;
          margin: 2vh 0;
          .form-image{
            text-align: center;
            .box{
              background-color: $light-gray;
              border: $light-gray solid 2px;
              border-radius: 100%;
              width: 20vh;
              height: 20vh;
              margin: 3vh auto;
              cursor: pointer;
              position: relative;
              .image{
                border-radius: 100%;
                width:18vh;
                height:18vh;
                position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translateX(-50%)translateY(-50%);
              }
            }
            input{
              display:none;
            }
          }
          &__name {
            font-weight: 600;
          }
          &__input {
            height: 50px;
            width: 100%;
            margin: 8px 0 0;
          }
        }
        .actions {
          height: 100px;
          &__btn {
            background-color: $blue;
            color: white;
            font-weight: bold;
            font-size: 15px;
            height: 50px;
            width: 20vw;
            -webkit-appearance: none;
            margin: 26px;
          }
        }
      }
    }
  }
}

.field-label__any {
  background: $gray;
  color: white;
  margin-left: 8px;
  padding: 2px 4px;
}

.field-label__required {
  background: $orange;
  color: white;
  font-size: 12px;
  padding: 2px 4px;
}

#user_gender {
  height: 50px;
  width: 100%;
  font-size: 15px;
  background-color: white;
  margin-top: 10px;
}

#address_prefecture_id {
  height: 50px;
  width: 100%;
  font-size: 15px;
  background-color: white;
  margin-top: 10px;

}
